<div class="site-header">
    <div class="container">
        <a href="/weather/web-api" class="branding">
            <img src="~/Content/weather/images/logo.png" alt="" class="logo">
            <div class="logo-type">
                <h1 class="site-title">Weather</h1>
                <small class="site-description">Demo - Vũ Tất Bình</small>
            </div>
        </a>
        <!-- Default snippet for navigation -->
        <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
                <li class="menu-item current-menu-item" id="menuwebapi"><a href="/weather/web-api">Web API</a></li>
                <li class="menu-item" id="menuwebscrapper"><a href="/weather/web-scrapper">Web Scrapper</a></li>
                <li class="menu-item" id="menunews"><a href="/weather/news">New</a></li>
            </ul> <!-- .menu -->
        </div> <!-- .main-navigation -->
        <div class="mobile-navigation"></div>
    </div>
</div> <!-- .site-header -->
